body {
    background-image: url(./images/pattern-background-desktop.svg);
    background-repeat: no-repeat;
    background-size: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

section {
    width: 400px;
    background-color: white;
    text-align: center;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
    border-radius: 16px;
    max-width: 90%;
    margin-bottom: 50px;
}

.music {
    width: 100%;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

h1 {
    margin-bottom: 5px;
    font-weight: 900;
}

#title {
    margin-top: 50px;
}

#text {
    text-align: center;
    display: inline-block;
    width: 300px;
    margin-bottom: 10px;
}

.button-container {
    display: block;
    margin: 0 auto 30px auto; /* top right bottom left */
    width: 300px;
}

.button {
    background-color: #f6f8ff;
    margin-bottom: 20px;
    padding: 16px;
    border-radius: 12px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#plan-section {
    display: flex;
    gap: 10px;
    align-items: center;
}

.image {
    width: 40px;
    height: 40px;
}

#plan {
    text-align: left;
}

#plan-text {
    font-weight: 600;
    margin-bottom: 4px;
}

#price {
    color: #666;
}

.text-change {
    color: #4f46e5;
    text-decoration: underline;
    font-weight: 500;
}

.primary-button {
  background: #5a47ea;
  color: white;
  border: none;
  width: 300px;
  padding: 16px;
  border-radius: 8px;
  margin-bottom: 10px;
  font-weight:600;
  box-shadow: 0 8px 24px rgba(90, 71, 234, 0.25), 0 1.5px 4px rgba(56, 42, 225, 0.18);
}

.secondary-button {
  background: transparent;
  color: #666;
  border: none;
  width: 300px;
  padding: 16px;
  border-radius: 8px;
  margin: 10px 0;
  font-weight: 600;
}
.attribution { 
    font-size: 11px; 
    text-align: center; 
    margin-top: 50px;
    margin-bottom: 20px;
}

.attribution a { 
    color: hsl(228, 45%, 44%); 
}

